.targeted {
    stroke-width: 4;
    stroke: red;
}

circle {
    stroke-width: 4;
    opacity: 0.7;
}
circle.src {
    fill: darkblue;
}
circle.src.targeted {
    fill: deepskyblue;
}
circle.dst {
    fill: sienna;
}
circle.dst.targeted {
    fill: orange;
}

text {
    font-size: xx-small;
}

path {
    fill: none;
    stroke-width: 1;
    stroke: darkolivegreen;
    opacity: 0.5;
}