.targeted {
    stroke-width: 4;
    stroke: red;
    opacity: 1.0;
}

textarea {
    width: 100%;
    height: 10em;
}

circle {
    stroke-width: 4;
    opacity: 0.9;
    fill : gray;
}

circle.source {
    fill: darkblue;
}

circle.source.targeted {
    fill: deepskyblue;
}

circle.target {
    fill: sienna;
}

circle.target.targeted {
    fill: orange;
}

text {
    font-size: x-small;
}

text.targeted {
    stroke: none;
    fill: red;
}

path {
    fill: none;
    stroke-width: 1;
    stroke: darkolivegreen;
    opacity: 0.7;
}

div#flow_view {
    float: left;
    width: 40%;
    position: -webkit-sticky; /* for Safari */
    position:sticky;
    top:0;
    z-index: 100;
}

div#selected_flows {
    float: right;
    width: 60%;
}

th {
    text-align: left;
    background: darkslategrey;
    color: aliceblue;
    font-size: small;
    padding: 0.5em;
    position: -webkit-sticky; /* for Safari */
    position:sticky;
    top:0;
    z-index: 100;
}

tr {
    color: dimgray;
    text-align: left;
    vertical-align: top;
    font-size: small;
}

tr.targeted {
    color: black;
    background-color: mistyrose;
}
